.user {
  flex: 4;
  padding: 20px;
}

.userContainer {
  display: flex;
  margin-top: 20px;
}

.error {
  color: red;
  margin-top: 2px;
}

.userUpdate {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
}

.userUpdateTitle {
  font-size: 24px;
  font-weight: 600;

}

.userUpdateForm {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.userUpdateLeft {
  flex: 3;
}

.userUpdateItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.userUpdateItem>label {
  margin-bottom: 5px;
  font-size: 14px;
}

.userUpdateInput {
  border: none;
  min-width: 250px;
  height: 30px;
  margin-right: 15px;
  border-bottom: 1px solid gray;
}

.userUpdateInput:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid black;
}

.userUpdateRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userUpdateUpload {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.userUpdateImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.userUpdateIcon {
  cursor: pointer !important;
}

.userUpdateButton {
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-right: 15px;
  cursor: pointer;
  background-color: darkblue;
  color: whitesmoke;
  font-weight: 600;
}

@media screen and (max-width: 450px) {
  .userContainer {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .userUpdate {
    width: 80%;
    margin-left: 0px;
  }

  .userUpdateForm {
    flex-direction: column;
    margin-left: 0px;
  }

  .userUpdateButton {
    margin-top: 25px;
  }
}