.wrapper {
  flex: 4;
  padding: 0px 20px 20px 20px;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 5px;
  right: 15px;
  background-color: #fff;
  width: 100%;
}

.title {
  flex: 2;
  text-align: center;
}

.buttons {
  flex: 3;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addButton {
  flex: 1;
  width: 310px;
  border: none;
  padding: 5px;
  margin-top: 15px;
  background-color: #7171DB;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.displayUserButton {
  display: flex;
  justify-content: center;
}

.changeUserButton {
  border: none;
  padding: 5px;
  margin-top: 15px;
  width: 100px;
  background-color: rgb(212, 204, 204);
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
}

.container {
  display: flex;
  margin-top: 20px;
}

.cartWrapper {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  position: fixed;
  right: 15px;
  width: 340px;
  max-height: 550px;
}

.cart {
  max-height: 450px;
  overflow-y: scroll;
}

.innerCart {
  max-height: 300px;
  overflow-y: scroll;
}

.menuItems {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  max-width: calc(100% - 420px);
}

.showTitle {
  font-size: 25px;
  font-weight: 600;
  color: rgb(82, 77, 77);
}

.smallTitle {
  font-size: 20px;
  font-weight: 500;
  color: rgb(82, 77, 77);
  margin: 15px 0px 5px 0px;
}

.line {
  margin: 15px 0px;
  color: rgb(82, 77, 77);
}

.itemInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.cartItemInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0px;
}

.itemName {
  flex: 2;
  color: rgb(95, 92, 92);
}

.itemPrice {
  flex: 1;
  color: rgb(95, 92, 92);
}

.link {
  text-decoration: none;
  color: #444;
  cursor: pointer;
  padding: 5px;
  border-radius: 2px;
}

.link.active,
.link:hover {
  background-color: rgb(240, 240, 250);
}

.checkBox {
  margin-right: 15px;
}

.setSearch {
  margin: 15px 5px;
}

.qtyIcons {
  height: 20px;
  display: flex;
  align-items: center;
}

.qtyIcon {
  flex: 1;
  padding: 0px 5px;
  color: rgb(95, 92, 92);
  cursor: pointer;
}


@media screen and (max-width: 450px) {

  .wrapper {
    min-width: 100%;
    flex: 1;
    padding: 10px;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .titleContainer {
    flex-direction: column;
    align-items: center;
  }

  .show {
    width: 90%;
    flex: 1;
  }

  .menuItems {
    min-width: 95%;
    flex: 1;
    margin-left: 20px;
  }

  .cartWrapper {
    position: static;
    width: 95%;
    flex: 1;
    margin-left: 20px;
    height: auto;
  }

  .cart {
    height: auto;
  }
  
  .innerCart {
    height: auto;
  }

  .buttons {
    width: 200px;
    flex-direction: column;
  }

  .addButton {
    width: 96%;
    margin-right: 0px;
  }
}