.cartWrapper {
  flex: 1;
  padding: 20px;
}

.cart {
  flex: 1;
  position: static;
}

.topItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.innerCart {
  position: static;
}

.titleContainer {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showTitle {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.smallTopTitle {
  font-size: 16px;
  margin-top: 2px;
}

.smallTitle {
  font-size: 20px;
  font-weight: 500;
  margin: 15px 0px 5px 0px;
}

.line {
  margin: 15px 0px;
  color: rgb(82, 77, 77);
}

.itemInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.cartItemInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0px;
}

.itemName {
  flex: 2;
}

.itemPrice {
  flex: 1;
}

.customerInfo {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.footer {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}